pdf2image==1.14.0
imutils==0.5.3
numpy==1.19.3
streamlit==0.73.1
Pillow==8.1.0
idna==2.5.0
mysql-connector-python==8.0.22
opencv-python==4.4.0.46
scikit-image==0.17.2
jedi==0.17.0
validators==0.18.2
dnspython==2.1.0
requests==2.25.1
gitdb==4.0.5
cffi==1.14.4
PySide2==5.15.2
pip==20.3.3
